.list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 12px;
    padding: 0;
    margin: 30px 0 0 0;
}

/* .item {
    display: flex;
    gap: 8px;
} */


.link,
.link_prev,
.link_next {
    /* text-align: center; */
    /* width: 45px; */
    /* line-height: 42px; */
    /* height: 45px; */
    /* border: 1px solid rgba(94, 170, 232); */

    /* margin-right: 10px; */
    cursor: pointer;
    /* display: inline-block; */


    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 12px 18px;
    /* margin-bottom: 8px; */
    color: #001739;
    background: rgba(94, 170, 232, 0.34);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;

    border-radius: 50%;

    box-shadow: 0px 2px 4px -1px rgba(8, 87, 208, 0.25),
        0px 4px 5px 0px rgba(8, 87, 208, 0.25),
        0px 1px 10px 0px rgba(8, 87, 208, 0.25);
}

.link:hover {
    /* background-color: rgba(94, 170, 232, 0.34); */
    color: #fff;
}

.active .link {
    /* background-color: rgba(94, 170, 232, 0.34); */
    color: #fff;
    background: rgba(73, 150, 214, 0.44);
}